.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* Search Form Css */


.searchContainer {

width: 42%;
margin-top: -95px;
margin-left: 180px;
  /* margin-top: -100em; set to a negative number 1/2 of your height */
  /* margin-left: -35em; set to a negative number 1/2 of your width */ 

 
}
#searchInput {
  width: 100%;
  margin-right:300px;

  border: 1px solid #000;
  border-radius: 30px;
  font-size: 12px;
  background-color: white;
  background-image:url('https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-24.png');

  background-position: 10px 7px;
  background-repeat: no-repeat;
  padding: 8px 20px 8px 40px;
  -webkit-transition: width 0.8s ease-in-out;
  transition: width 0.8s ease-in-out;
  outline: none;
  opacity: 0.9;

}



/* Navbar Css */
* {
  box-sizing: border-box;
  }
  body {
  font-family: 'Montserrat', sans-serif;
  line-height: .5;
  margin: 0;
  min-height: 100vh;
  }
  ul {
  margin: 0;
  padding: 0;
  list-style: none;
  }
  h2,
  h3,
  a {
  color: #34495e;
  }
  a {
  text-decoration: none;
  }
  .logo {
  margin-left: -120px;
  font-size: 1.45em;
  }
  .main-nav {
  display: inline;  
	margin: 0 auto;
  }
  .logo a,
  .main-nav a {
  padding: 10px 15px;
  text-transform: uppercase;
  text-align: center;
  display: inline;
  min-width: 800px;
  }
  .main-nav a {
  margin-top: -19px;  
  margin-right: -200px;
  color:rgb(244, 247, 248);
  font-size: .9em;
  }

  
  .coursesnav {
    margin-top:   -20px;
  }
  .businessnav {
    margin-top:   -8px;
    margin-right: -250px;
  }
  .login {
    margin-top:   -8px;
    margin-right: -540px;
  }
  .main-nav a:hover {
  color:rgb(64, 208, 224);
  }
  .header {
  /* padding-top: 0em;
  padding-bottom: -35em; */
  height: 100px;
  border: 1px solid #a2a2a2;
  background-color: #525151;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  }
  
  #logo{
  max-width: 10%;
  max-height: 10%;
  margin-top: -40px;
  margin-left: -70%;
  }
/* end navbar css */

/* Description CSS */
.description {
  /* display: inline-block; */
  /* width: 50%;
  padding: 20px; */
  line-height: 36px;
}
