* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.row {
  max-width: 1140px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
  background-color: #fff;
  color: rgb(54, 54, 54);
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
}

/* Headers */
h1, 
h2,
h3,
h4 {
    font-weight: 300;
    text-transform: uppercase;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  letter-spacing: 1px;
}

h3 {
  word-spacing: 5px;
}

h4 {
  font-size: 105%;
}

/* ------------------- */
/* PARAGRAPHS */
/* ------------------- */

.long-copy {
  line-height: 145%;
  text-align: center;
  margin-top: 30px;
}

/* ICONS */
.icon-big {
  font-size: 250%;
  display: block;
  color: #3498db;
  margin-bottom: 10px;
  margin-top: 40px;

}
/* BUTTONS */

.btn {
  text-align: center;
  margin-top: 2em;
  margin-right: 25px;
  cursor: pointer;
  width: 10em; 
  background: #3498db;
  border: 1px solid #2487c9;
  color: #fff;
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 100vh;
  color: #fff;
  transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:hover,
.btn-full:active
 {
  background: #2377af;
}

.btn-ghost {
  background-color: transparent;
  color: #3498db;
}

.btn-ghost:hover,
.btn-ghost:active
 {
  background: #2377af;
  color: white;
}


/* Navbar Css */
.logo {
  float: left;
  margin-top: 8px;
  font-size: 130%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

.logo a {
  text-decoration: none;
  color: white;
}


.main-nav {
  float: right;
  list-style: none;
}

nav {
  background-color: rgba(0, 0, 0, 0.65);
  height: 6vh;
  /* border-bottom: 1px solid black; */
}

.main-nav li {
  margin-top: 15px;
  display: inline-block;
  margin-left: 50px;
  /* margin-top: 10px; */
}

.main-nav li a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
  padding: 6px 0;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #3498db;

}

/* end navbar css */

/* Footer CSS */
footer {
  background-color: #333333;
  padding: 50px;
  height: auto;
  left: 0;
  bottom: 0;

}

.footer-nav {
  list-style: none;
  float: left;
}

.footer-nav li {
  display: inline-block;
  margin-right: 25px;
}
.footer-nav li a {
  text-decoration: none;
  border: 0;
  color: #888;
  transition: color 0.2s;
}

.footer-nav li a:active,
.footer-nav li a:hover {
color: white;
}

/* Home Banner CSS */

.banner-div{
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url(hero.jpg);
  background-size: cover;
  background-position: center;
  height: 94vh;
  /* margin-top: -19px; */
}

.banner-info {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* How it Works Section */

.how-it-works h2 {
  margin-top: 20px;
  text-align: center;
}

.box h3 {
  margin-bottom: 20px;
}

.how-it-works h2:after {
  display: block;
  height: 2px;
  background-color: #2487c9;
  content: ' ';
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
}


/* Featured Courses Section */

.featured-courses {
  margin-top: 80px;
  background-color: rgb(245, 245, 245);
  padding: 50px;
}

.homebanner1-holder {
  width: 450px;
  height: 280px;
  border-radius: 10px;
  background-color: lightblue;
  position: relative;
  margin-bottom: 80px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.homebanner1 {
  border-radius: 10px;
  width: 450px;
  height: 280px;
  position: absolute;
  top: 40px;
  left: 40px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.homebanner2-holder {
  width: 450px;
  height: 280px;
  border-radius: 10px;
  background-color: rgba(100, 173, 170, 0.644);
  position: relative;
  margin-left: 50px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}

.homebanner2 {
  border-radius: 10px;
  width: 450px;
  height: 280px;
  position: absolute;
  top: 40px;
  right: 40px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
}


.box button {
  margin-top: 40px;
}

/* Featured Companies Section */

.featured-companies h2 {
  margin-top: 80px;
  text-align: center;
}

.featured-companies h2:after {
  display: block;
  height: 2px;
  background-color: #2487c9;
  content: ' ';
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 80px;
}

.featured-companies {
  margin-bottom: 60px;
}

/* business index CSS */

.business-card {
  color: black;
  text-align: center;
}

.bus-logo {
  width: 35%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  /* margin-top: 10px; */
  border-color: darkgray;
}

.business-card h3 {
  text-align: center;
  margin-top: 10px;
}

.courses-index {
  min-height: 100vh;
}
/* Filter CSS */

.filter {
  text-align:center;
  background-color: rgb(241, 241, 241);
}

.category1 {
  background-color: white;
  width: 100%;
  margin: 50px auto;
  height: auto;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);

}

.box label {
  margin-right: 20px;
}

.filter h2 {
  margin-top: 20px;
  text-align: center;
}

/* .box h3 {
  margin-bottom: 20px;
} */

.filter h2:after {
  display: block;
  height: 2px;
  background-color: #2487c9;
  content: ' ';
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
}
/* Search CSS */

  #searchInput {
    font-family: "Lato";
    width: 300px;
    margin-left: 10px;
    border: 1px solid rgb(160, 160, 160);
    border-radius: 30px;
    background-color: white;
    background-image:url('https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-24.png');
    background-position: 10px 5px;
    background-repeat: no-repeat;
    padding: 8px 10px 8px 20px;
    -webkit-transition: width 0.8s ease-in-out;
    transition: width 0.8s ease-in-out;
    outline: none;
    opacity: 0.9;
    text-indent: 20px;
  
  }
/* Course index CSS */

.course-index {
  width: 100%;
  height: auto;
  position: relative;
}

.course-image-holder {
  margin-top: 20px;
}

.course-cover {
width: 15%;
box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
margin-left: 40px;
}

.course-image {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
  width: 10%;
  height: 120px;
  position: absolute;
  left: 130px;
  top: 50px;
}

.course-info {
  margin-left: 300px;
  /* height: 0; */
  text-decoration: none;
  color: black;
  position: absolute;
  top: 80px;
  
}

.course-info p {
  font-size: 80%;
  
}

.course-btn-holder {
  margin-left: 1000px;
}
.course-index hr {
  margin-top: 50px;
}

.course-index button {
/* position: absolute; */
}

.course-btn-holder {
  margin-bottom: 20px;
}

/* User Container CSS */
.user-float {
  width: 260px;
  height: 350px;
  float:right;
  margin-top: 75px;
  margin-left: 10px;
  margin-right: 100px;
  border-style: solid;
  border-radius: 20px;
  border-color: rgb(187, 189, 192);
  background-color: whitesmoke;
}

.profsmall{
  max-width: 14%;
  max-height: 30%;
  border-radius: 75px;
  margin-right: 200px;
  line-height: 1.5;
  margin-top: -30px;
}
.userfloatname{
  margin-right: -30px;
  margin-bottom: -0px;
  font-size: 16px;
  color: #2487c9;
}
.other-users {
  height: 455px;
  position: relative;
  margin-left: 950px;
  top: 20px;
  /* margin-top: 20px; */
  /* margin-bottom: -320px; */
  width: 300px;
  background-color: white;
  border-radius: 10px;
  /* line-height: 1.5; */
  border-style: solid;
  border-color: whitesmoke
  }
  
  .main-user {
    /* position: relative; */
    margin-top: -460px;
  }





  .login {
    margin-top:   -8px;
    margin-right: -650px;
  }
  .header {
  /* padding-top: 0em;
  padding-bottom: -35em; */
  height: 90px;
  border: 1px solid #a2a2a2;
  background-color: #525151;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  }



/* Description CSS */
.description {
  /* display: inline-block; */
  /* width: 50%;
  padding: 20px; */
  line-height: 36px;
}



/* Individual User, Business and Course CSS */
/* 
* Art by @jofpin 
* 2014
*/

.content-profile-page {
  /* position: relative; */
  /* margin-top: -300px; */
  /* width: 44.23em; */
}

.card {
  /* background: #fff;
  border-radius: 0.3rem;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  border: .1em solid rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;  */
}

.profile-user-page .img-user-profile {
	/* margin: 0 auto;
  text-align: center; 
  display: inline; */
}
.profile-user-page .img-user-profile .profile-bgHome {
  /* border-bottom: .2em solid #f5f5f5;
  right: 135px;
  position: relative;
  width: 50.23em;
  height: 14em;
  text-align: center; */
  }
.avatar {
	/* margin: 0 auto; */
  background: #fff;
  width: 8.5em;
  height: 8.5em;
  bottom: -60px;
  right: 200px;
  position: relative;
  padding: 0.25em;
  border-radius: .4em;
  margin-top: -10em;
  box-shadow: 0 0 .1em rgba(0, 0, 0, 0.35);
}
.profile-user-page button {
  margin-left: -605px;
  margin-top: -2em;
	position: absolute;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  width: 7em; 
  background: #3498db;
  border: 1px solid #2487c9;
  color: #fff;
  outline: none;
  border-radius: 0 .6em .6em 0;
  padding: .45em;
}

.profile-user-page button:hover {
  background: #51a7e0;
  transition: background .2s ease-in-out;
  border: 1px solid #2487c9;
}
.profile-user-page .user-profile-data, .profile-user-page .description-profile {
  text-align: center;
  padding: 0 1.5em; 
}

.user-profile-data button{
  margin-left: 100px;
}
.profile-user-page .user-profile-data h1 {
  font-family: "Lato", sans-serif;
  margin-top: 1.5em;
  text-align: left;
  line-height: 30px;
  color: #292f33;
  margin-bottom: 0; 
}
.profile-user-page .user-profile-data p {
	font-family: "Lato", sans-serif;
  color: #8899a6; 
  font-size: 1.1em;
  text-align: left;
  line-height: 50px;
  margin-top: 0;
  margin-bottom: 2em;
}
.profile-user-page .description-profile {
  color: #75787b;
  line-height: 20px;
  font-size: 0.98em; 
  text-align: left;
  bottom: 70px;
  width: 780px;
  left: 150px;
  position: relative;
}
.profile-user-page .data-user {
  font-family: "Quicksand", sans-serif;
  position: relative;
  bottom: 50px;
  margin-bottom: 0;
  cursor: pointer;
  padding: 0;
  list-style: none;
  display: table;
  width: 100.15%; 
}
.profile-user-page .data-user li {
  margin: 0;
  padding: 0;
  width: 33.33334%;
  display: table-cell;
  text-align: center;
  border-left: 0.1em solid transparent; 
}
.profile-user-page .data-user li:first-child {
  border-left: 0; 
}
.profile-user-page .data-user li:first-child a {
  border-bottom-left-radius: 0.3rem; 
  }
.profile-user-page .data-user li:last-child a {
  border-bottom-right-radius: 0.3rem; 
}
.profile-user-page .data-user li a, .profile-user-page .data-user li strong {
  display: block; 
}
.profile-user-page .data-user li a {
  background-color: #f7f7f7;
  border-top: 1px solid rgba(242,242,242,0.5);
  border-bottom: .2em solid #f7f7f7;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.4),0 1px 1px rgba(255,255,255,0.4);
  padding: .93em 0;
  color: #46494c; 
}
.profile-user-page .data-user li a strong, .profile-user-page .data-user li a span {
  font-weight: 600;
  line-height: 1; 
}
.profile-user-page .data-user li a strong {
  font-size: 2em; 
}
.profile-user-page .data-user li a span {
  color: #717a7e; 
}
.profile-user-page .data-user li a:hover {
  background: rgba(0, 0, 0, 0.05);
  border-bottom: .2em solid #3498db;
  color: #3498db; 
}
.profile-user-page .data-user li a:hover span {
  color: #3498db; 
}

#comment-button {
  margin-left: 800px;
  position: relative;
}


.featured {
  margin-top: 40px;
  margin-bottom: 20px;
}

.featured:after {
  display: block;
  height: 2px;
  background-color: #2487c9;
  content: ' ';
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;

}



.home-courses {
  width: 30%;
  height: auto;
  position: relative;
  border-radius: 10px;
  margin-top: -50px;
  margin-left: 50px;
  background-color: lightblue;
}

/* .home-courses h3 {
 margin-right: -1080px;
}
.home-courses p {
  position: relative;
  right: -675px;
  width: 500px;
  line-height: 1.75;
  text-align: left;
 }
 .home-courses button {
  position: relative;
  right: -475px;
  line-height: 1.75;
  text-align: left;
  background: #3498db;
  border: 1px solid #2487c9;
  color: #fff;
  outline: none;
  border-radius: 0 .6em .6em 0;
  padding: .45em;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
 } */


.home-courses-2 {
  margin-top: 120px;
  width: 500px;
  height: 250px;
  border-radius: 10px;
  margin-left: 720px;
  background-color: rgba(100, 173, 170, 0.644)
}

.home-courses-2 h3 {
  margin-left: -1600px;
}
.home-courses-2 p {
  position: relative;
  text-align: left;
  left: -625px;
  width: 500px;
  line-height: 1.75;
}

.home-courses-2 img {
  width: 500px;
  height: 250px;
  margin-left: -225px;
  border-radius: 10px;
  margin-top: -300px;
}

.home-courses-2 button {
  position: relative;
  right: 690px;
  line-height: 1.75;
  background: #3498db;
  border: 1px solid #2487c9;
  color: #fff;
  outline: none;
  border-radius: 0 .6em .6em 0;
  padding: .45em;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
}


/* Business Index CSS */
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);

.divider{
  margin-top: 100px;
  width: 1400px;
  position: relative;
  height: 10px;
  /* background-color: #34495e; */
}

.divider h3{
  position: absolute;
  bottom: -5px;
  right: 680px;
  /* color: white */
}

/* BUSINESS CARD CSS, INDEX VIEW */

.business-card p {
  font-size: 70%;
}

.business-index {
  margin-top: 50px;
  min-height: 100vh;
}

/* BUSINESS CARD CSS, SHOW VIEW */
.bus-cover {
  margin-top: 10px;
  width: 180px;
  height: 100px;
  vertical-align: top;
  opacity: 0.85;
  border-radius: 5px;
  
}

.business-card h2 {
  display: block;
  font-size: 1.2em;
 
  color: rgb(2, 2, 2);
  margin-right: -55px;
  margin-top: -40px;
}

.business-card p {

  /* font-size: 0.7em;
  opacity: 0.8;
  color: rgb(72, 72, 72);
  margin-right: -60px;
  line-height: 4.5;
  margin-top: 0px; */
}

#Other-Businesses {
height: 455px;
position: relative;
margin-left: 1000px;
top: 20px;
/* margin-top: 20px; */
/* margin-bottom: -320px; */
width: 250px;
background-color: white;
border-radius: 10px;
/* line-height: 1.5; */
border-style: solid;
border-color: whitesmoke
}

#main-business {
  /* position: relative; */
  margin-top: -460px;
}

#other-courses {
position: relative;
margin-left: 930px;
top: 20px;
height: 455px;
width: 350px;
border-style: solid;
border-color: whitesmoke
}

.other-course {
  height: 100px;
  /* margin-right: -270px; */
}
.other-course img{
height: 50px;
width: 50px;
border-radius: 75%;
margin-right: 210px;
/* position: relative; */
}


.other-course h4{
  text-align: left;
  top: -65px;
  position: relative;
  margin-left: 120px;
  line-height: 2;
}

.other-course p{
  top: -85px;
  position: relative;
  text-align: left;
  margin-left: 120px;
  line-height: 1.5;
}

#main-course {
  margin-top: -460px;
}

/* width: 260px;
height: 350px;
float:right;
margin-top: 75px;
margin-left: 10px;
margin-right: 100px;
border-style: solid;
border-radius: 20px;
border-color: rgb(187, 189, 192);
background-color: whitesmoke; */

 /* .snip1336 {
  display: inline-block;
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: 200px;
  height: 200px; 
  min-width: 190px;
  max-width: 215px; 
  width: 100%;
  color: #ffffff;
  text-align: left;
  line-height: 1.4em;
  background-color: #141414;
}
.snip1336 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1336 img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
  opacity: 0.85;
}
.snip1336 figcaption {
  width: 100%;
  background-color: #141414;
  padding: 25px;
  position: relative;
}
.snip1336 figcaption:before {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 0 0 400px;
  border-color: transparent transparent transparent #141414;
}
.snip1336 figcaption a {
  padding: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}
.snip1336 figcaption a:hover {
  opacity: 1;
}
.snip1336 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 90%;
  left: 25px;
  z-index: 1;
  max-width: 90px;
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.snip1336 .follow {
  margin-right: 4%;
  border-color: #2980b9;
  color: #2980b9;
}
.snip1336 h2 {
  margin: 0 0 5px;
  font-weight: 300;
  color:  rgb(255, 255, 255);
}
.snip1336 h2 span {
  display: block;
  font-size: 0.5em;
  color: rgb(64, 208, 224);
}
.snip1336 p {
  margin: 0 0 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
  color: rgb(64, 208, 224)
}

#columns {
  column-width: 205px;
  column-gap: 20px;
  width: 55%;
  margin-left: 100px;
}

.snip1336courses img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
  opacity: 0.85;
} */






.snip1336two {
  display: inline-block;
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  width: 200px;
  height: 200px;
  color: #ffffff;
  text-align: left;
  line-height: 1.4em;
}
.snip1336two * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1336two img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
  opacity: 0.85;
}
.snip1336two figcaption {
  width: 100%;
  background-color: whitesmoke;
  padding: 25px;
  position: relative;
}
.snip1336two figcaption:before {
  position: absolute;
  content: '';
  bottom: 85%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 0 0 400px;
  border-color: transparent transparent transparent whitesmoke;
}
.snip1336two figcaption a {
  padding: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}
.snip1336two figcaption a:hover {
  opacity: 1;
}
.snip1336two .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 84%;
  left: 25px;
  z-index: 1;
  max-width: 90px;
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.snip1336two .follow {
  margin-right: 4%;
  border-color: #2980b9;
  color: #2980b9;
}
.snip1336two h2 {
  margin: 0 0 5px;
  font-weight: 300;
  color:  rgb(0, 0, 0);
}

.snip1336two p {
  margin: 0 0 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
  color: rgb(72, 78, 79)
}

.snip1336coursestwo img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
  opacity: 0.85;
} */

/* Login CSS */
.loader span {
  width: 128px;
  height: 128px;
  border-radius: 10px;
    /* margin: -280px 40px 54px  -34px; */
  
}

.background-login {
  /* OG https://cdn.pixabay.com/photo/2020/09/06/17/52/island-5549660_960_720.jpg */
  /* https://cdn.pixabay.com/photo/2020/09/03/15/37/waterscape-5541692_1280.jpg */
  background-image: url("https://cdn.pixabay.com/photo/2020/09/03/15/37/waterscape-5541692_1280.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  bottom: 20px;
  position: relative;
  
}

.loginButton {
  margin-left: -45px;
  margin-top: 1em;
	position: absolute;
  font-size: 13px;
  font-weight: bold;
  cursor: pointer;
  width: 7em; 
  background: #3498db;
  border: 1px solid #2487c9;
  color: #fff;
  outline: none;
  border-radius: 0 .6em .6em 0;
  padding: .45em;
}

.switch {
  width: 500px;
  bottom: -250px;
  position: relative;
  font-weight: bold;
  color: #fff;
  right: -395px;
}

.information-container input {
  border-radius: 20px;
  border-style: hidden;
  width: 200px;
}

/* Pagination CSS */
.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a{
  background-color: #47ccde ;
  border-color: #47ccde ;
  color: #fff;
}
.pagination > li > a{
  border: 1px solid #47ccde ;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #47ccde ;
  border-color: #47ccde;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #47ccde
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}